/target
.*.swp
.*.sw?
rusty-tags.vi
/.config
/.cache
/.direnv
/.maelstrom-pytest
/.maelstrom-go-test
result*
**/.DS_Store
/crates/maelstrom-web/target
/**/__pycache__
/website/public
/website/static/processed_images
