[workspace]
resolver = "2"
members = [ "crates/*" ]

[profile.dev]
panic = "abort"

[profile.release]
panic = "abort"

[workspace.package]
documentation = "https://maelstrom-software.com/book/"
edition = "2021"
homepage = "https://maelstrom-software.com"
license = "MIT OR Apache-2.0"
repository = "https://github.com/maelstrom-software/maelstrom"
rust-version = "1.77.1"
version = "0.7.0-dev"

[workspace.dependencies]
anstyle = "1.0.6"
anyhow = "1.0.71"
anyhow_trace = "0.1.3"
assert_matches = "1.5.0"
async-trait = "0.1"
async-walkdir = "1"
atomicbox = "0.4"
async-compression = { version = "0.4", features = ["tokio", "gzip"] }
bincode = "1.3.3"
bracoxide = "0.1.3"
bumpalo = { version = "3.14.0", features = ["collections"] }
byteorder = "1.5.0"
bytesize = "1.3.0"
bytesize-serde = "0.2.1"
camino = { version = "1.1.6", features = ["serde1"] }
cargo_metadata = "0.18"
chrono = "0.4"
clap = { version = "4.2.7", features = ["cargo", "derive", "string", "wrap_help"] }
colored = "2.0.4"
colored-diff = "0.2.3"
combine = "4"
concat-idents = "1.1.5"
console = "0.15"
console_error_panic_hook = "0.1.7"
darling = "0.20"
derive_more = "0.99"
elf = "0.7"
eframe = "0.26"
egui = "0.26"
egui_gauge = "0.1.3"
egui-toast = "0.12"
enum-map = { version = "2.7.0", features = ["serde"] }
enumset = { version = "1.1.3", features = ["serde"] }
fs2 = "0.4"
futures = "0.3"
futures-lite = "2.1"
gethostname = "0.4.2"
globset = "0.4"
gloo-net = "0.4"
gloo-utils = "0.2"
heck = "0.5.0"
hex = "0.4.3"
hyper-tungstenite = "0.11"
hyper = { version = "0.14", features = ["http1", "server", "tcp"] }
indicatif = { version = "0.17", features = ["in_memory", "tokio"] }
indoc = "2.0.4"
itertools = "0.10.5"
lddtree = "0.3"
libc = "0.2"
lru = "0.12"
maelstrom-base = { version = "0.7.0-dev", path = "crates/maelstrom-base" }
maelstrom-broker = { version = "0.7.0-dev", path = "crates/maelstrom-broker" }
maelstrom-client = { version = "0.7.0-dev", path = "crates/maelstrom-client" }
maelstrom-client-base = { version = "0.7.0-dev", path = "crates/maelstrom-client-base" }
maelstrom-client-process = { version = "0.7.0-dev", path = "crates/maelstrom-client-process" }
maelstrom-container = { version = "0.7.0-dev", path = "crates/maelstrom-container" }
maelstrom-fuse = { version = "0.7.0-dev", path = "crates/maelstrom-fuse" }
maelstrom-layer-fs = { version = "0.7.0-dev", path = "crates/maelstrom-layer-fs" }
maelstrom-linux = { version = "0.7.0-dev", path = "crates/maelstrom-linux" }
maelstrom-macro = { version = "0.7.0-dev", path = "crates/maelstrom-macro" }
maelstrom-plot = { version = "0.7.0-dev", path = "crates/maelstrom-plot" }
maelstrom-simex = { version = "0.7.0-dev", path = "crates/maelstrom-simex" }
maelstrom-test = { version = "0.7.0-dev", path = "crates/maelstrom-test" }
maelstrom-util = { version = "0.7.0-dev", path = "crates/maelstrom-util" }
maelstrom-web = { version = "0.7.0-dev", path = "crates/maelstrom-web" }
maelstrom-worker = { version = "0.7.0-dev", path = "crates/maelstrom-worker" }
maelstrom-worker-child = { version = "0.7.0-dev", path = "crates/maelstrom-worker-child" }
maplit = "1"
memchr = "2"
netlink-packet-core = "0.7"
netlink-packet-route = "0.17"
nonempty = { version = "0.8.1", features = ["serialize"] }
num = "0.4.1"
num_cpus = "1.15.0"
num_enum = "0.7"
oci-spec = "0.6"
page_size = "0.6.0"
proc-macro2 = "1"
prost = "0.12"
quote = "1"
rand = "0.8.5"
regex = "1.8.3"
regex-macro = "0.2"
reqwest = { version = "0.11", features = [ "blocking", "json", "stream" ] }
serde = { version = "1", features = ["derive"] }
serde_json = { version = "1.0.107" }
serde_repr = "0.1"
serde_test = "1"
serde_with = { version = "3.4", features = ["chrono"] }
sha2 = "0.10.6"
slog = { version = "2.7.0", features = ["max_level_debug", "release_max_level_debug"] }
slog-async = "2.8.0"
slog-term = "2.9.0"
smallvec = "1.6.1"
strum = { version = "0.25.0", features = ["derive"] }
syn = { version = "2", features = ["full"] }
tar = "0.4.38"
tempfile = "3.5.0"
tokio = { version = "1.28", features = [ "rt", "rt-multi-thread", "macros", "fs", "io-util" ] }
tokio-stream = "0.1"
tokio-tar = "0.3"
tokio-util = { version = "0.7.10", features = [ "compat" ] }
toml = "0.8.8"
tonic = "0.11"
tonic-build = "0.11"
tower = "0.4"
tuple = "0.5.1"
unicode-truncate = "0.2.0"
unicode-width = "0.1.7"
wasm-bindgen = "0.2"
wasm-bindgen-cli-support = "0.2"
wasm-bindgen-futures = "0.4"
zerocopy = { version = "0.7", features = ["derive"] }
wasm-logger = "0.2"
walkdir = "2.4"
xdg = "2.5.2"
