{% extends "base.html" %}

{% block content %}
<div class="wrapper">
  <div class="container" id="main">
    <h2>Maelstrom Blog</h2>

    <div class="row">
      {% for page in section.pages %}
      <div class="col-6 col-12-narrower feature">
        <div class="image-wrapper first">
          <a href="#" class="image featured"><img src="images/pic01.jpg" alt="" /></a>
        </div>
        <a href="{{ page.permalink | safe }}">
          <header>
            <h3>{{ page.title }}</h3>
          </header>
          {% set image = resize_image(path = page.path ~ "/tile.png", width=400, height=200) %}
          <img src="{{ image.url }}">
        </a>
        <p><strong>{{ page.date }}</strong></p>
        {{ page.summary | safe }}
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock content %}

<!-- vim: set sw=2 ts=2 et ai: -->
