{% extends "base.html" %}

{% block content %}
<div class="wrapper">
  <div class="container" id="main">
    <article id="content">
      <h2 class="title">
        {{ page.title }}
      </h2>
      <p class="subtitle"><strong>{{ page.date }}</strong></p>
      {% if page.authors %}
      <p class="subtitle">
        by
        {% for author in page.authors %}
        <strong>{{ author }}</strong>
        {% endfor %}
      </p>
      {% endif %}
      {{ page.content | safe }}
    </article>
  </div>
</div>
{% endblock content %}

<!-- vim: set sw=2 ts=2 et ai: -->
