{% extends "base.html" %}

{% block content %}

<div class="wrapper">
  <div class="container" id="main">
    <header>
      <h2>{{ section.title }}</h2>
    </header>

    <div class="row">
      {% for page in section.pages %}
      <div class="col-6 col-12-narrower feature">
        <div class="image-wrapper first">
          <a href="#" class="image featured"><img src="images/pic01.jpg" alt="" /></a>
        </div>
        <a href="{{ page.permalink | safe }}">
          <header>
            <h3>{{ page.title }}</h3>
          </header>
        </a>
        {{ page.summary | safe }}
      </div>
      {% endfor %}
    </div>
  </div>
</div>

{% endblock content %}

<!-- vim: set sw=2 ts=2 et ai: -->
