{% extends "base.html" %}

{% block after_header %}
<section id="hero" class="container">
  <header>
    <h2>Isolate your tests and run them fast.
  </header>
  <p>Maelstrom is a suite of test runners for Rust, Go, and Pytest, built on top of a general-purpose clustered job engine.</p>
  <ul class="actions">
    <li><a href="https://maelstrom-software.com/doc/book/latest/" class="button">Learn More</a></li>
  </ul>
</section>
{% endblock hero %}

{% block content %}
<div class="wrapper">
  <div class="container" id="main">
    <article id="content">
      <header>
        <h2>{{ section.title }}</h2>
      </header>
      {{ section.content | safe }}
    </article>
  </div>
</div>
{% endblock content %}

<!-- vim: set sw=2 ts=2 et ai: -->
