{% extends "base.html" %}

{% block hero %}
<!-- Hero -->
<section id="hero" class="container">
  <header>
    <h2>A clustered, hermetic test runner.
  </header>
  <p>Maelstrom is a test runner for Rust and Pytest, built on top of a general-purpose clustered job engine. </p>
  <ul class="actions">
    <li><a href="https://maelstrom-software.com/doc/book/latest/" class="button">Learn More</a></li>
  </ul>
</section>
{% endblock hero %}

{% block content %}
<header>
  <h2>{{ section.title }}</h2>
</header>
{{ section.content | safe }}
{% endblock content %}
